.table-task {
    border: 1px solid black;
}
    .table-task td {
        border: 1px solid black;
        padding: 5px;
    }

.row-outdated {
    background-color: palegoldenrod
}

.row-topical {
    background-color: pink
}

.row-coming {
    background-color: palegreen
}

.row-done {
    background-color: palegreen;
}

.row-not-done {
    background-color: pink;
}
