@{
    ViewBag.Title = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление задачи</title>
</head>
<body>
    <div>
        <h3>Форма добавления задачи</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите дату</p></td>
                    <td><input type="date" name="TaskDate" /> </td>
                </tr>
                <tr>
                    <td><p>Введите описание задачи :</p></td>
                    <td>
                        <input type="text" name="TaskString" />
                    </td>
                </tr>
                <tr>
                    <td><p>Задача выполнена?</p></td>
                    <td><input type="checkbox" name="IsTaskDone" value="true" /> </td>
                </tr>
                <tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
