@using TaslList.Models;
@model Task


@{

    ViewBag.Title = "Редактирование задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h3>Форма редактирования задачи</h3>
        <form method="post" action="">
            <input type="hidden" value="@Model.Id" name="Id" />
            <table>
                <tr>
                    <td><p>Введите дату</p></td>
                    <td><input type="date" name="TaskDate" value="@Model.TaskDate.ToString("yyyy-MM-dd")" /> </td>
                </tr>
                <tr>
                    <td><p>Введите описание задачи :</p></td>
                    <td>
                        <input type="text" name="TaskString" value="@Model.TaskString" />
                    </td>
                </tr>
                <tr>
                    <td><p>Задача выполнена?</p></td>
                    <td><input type="checkbox" name="IsTaskDone" value="true" /> </td>
                </tr>
                <tr>
                <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>
            </table>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong> @TempData["Error"]
                </div>
            }
        </form>
    </div>

