@{
    ViewBag.Title = "Editask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование задачи</title>
</head>
<body>
    <div>
        <h3>Форма редактирования задачи</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.task.Id" name="Id" />
            <table>
                <tr>
                    <td><p>Введите дату</p></td>
                    <td><input type="date" name="TaskDate" value="@ViewBag.task.TaskDate.ToString("yyyy-MM-dd")" /> </td>
                </tr>
                <tr>
                    <td><p>Введите описание задачи :</p></td>
                    <td>
                        <input type="text" name="TaskString" value="@ViewBag.task.TaskString" />
                    </td>
                </tr>
                <tr>
                    <td><p>Задача выполнена?</p></td>
                    <td><input type="checkbox" name="IsTaskDone" value="true" /> </td>
                </tr>
                <tr>
                <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Ошибка!</strong> @TempData["Error"]
                    </div>
                }

            </table>
        </form>
    </div>
</body>
</html>
